@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

header {
    background: black;
    padding: 30px 4% 5px;
    display: flex;
    align-items: center;
    gap: 30px;
}

.link {
    color: white;
    font-size: 32px;
    text-decoration: none;
    font-family: "PT Sans", sans-serif;
}

.profile-logo {
    position: relative;
    align-self: flex-end;
    height: 40px;
    width: 40px;
}