{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'css/game_styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/header_styles.css' %}">
</head>
<body>
{% include 'header.html' %}
<div class="wrapper">
    <div class="game-card">
        <div class="game-info">
            <img src="{{ game.path_to_img.url }}">
        </div>
        <table class="game-ratings">
            <tr>
                <td style="font-size: 32px; font-weight: bold">{{ game.name }}</td>
            </tr>
            <tr>
                <td><span style="font-weight: bold">Общий рейтинг критиков</span></td>
                <td class="rating">
                    <span>{{ game.general_rate }}</span>
                    <img src="{% static 'img/index/star-icon.svg' %}">
                </td>
            </tr>
            <tr>
                <td><span style="font-weight: bold">Metacritic</span></td>
                <td class="rating">
                    <span>{{ game.metacritic }}</span>
                    <img src="{% static 'img/index/star-icon.svg' %}">
                </td>
            </tr>
            <tr>
                <td><span style="font-weight: bold">IGN</span></td>
                <td class="rating">
                    <span>{{ game.IGN }}</span>
                    <img src="{% static 'img/index/star-icon.svg' %}">
                </td>
            </tr>
            <tr>
                <td><span style="font-weight: bold">Gameinformer</span></td>
                <td class="rating">
                    <span>{{ game.game_informer }}</span>
                    <img src="{% static 'img/index/star-icon.svg' %}">
                </td>
            </tr>
            <tr>
                <td><span style="font-weight: bold">Оценки пользователей</span></td>
                <td class="rating">
                    <span>{{ game.user_rate }}</span>
                    <img src="{% static 'img/index/star-icon.svg' %}">
                </td>
            </tr>
        </table>
        <div class="game-description">
            <h2 style="font-size: 72px;margin-top: 0">Описание</h2>
            <p style="font-size: 16px">{{ game.description }}</p>
        </div>
    </div>
    <h2 style="text-align: center; font-size: 72px">Отзывы</h2>
    {% if own_review %}
        <h2 style="text-align: center; font-size: 32px">Ваш отзыв</h2>
    {% endif %}
    <div class="reviews">
        <div class="review">
            <div class="user">
                {% if request.user.avatar %}
                    <img src="{{ request.user.avatar.url }}">
                {% endif %}
                <p>{{ request.user.username }}</p>
            </div>
            {% if request.user.is_authenticated and not own_review %}
                <form class="leave-review" id="leave-review-form" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ AddReviewForm.text }}
                    {{ AddReviewForm.rate }}
                    <input name="add_review_input" type="submit" class="add-review-button" value="Отправить отзыв">
                </form>
            {% else %}
                <label>
                    <textarea readonly class="text-input">{{ own_review.text }}</textarea>
                    <p style="margin-top: 0; border: 0" class="rating-input">
                        {{ own_review.rate }}
                        <img style="width: 20px; height: 20px" src="{% static 'img/index/star-icon.svg' %}">
                    </p>
                </label>
            {% endif %}
        </div>
    </div>
    <div class="other-reviews">
        {% for review in ratings %}
            <div class="review">
                <div class="user">
                    {% if review.user.avatar %}
                        <img src="{{ review.user.avatar.url }}">
                    {% endif %}
                    <p>{{ review.user.username }}</p>
                </div>
                <label>
                    <textarea readonly class="text-input">{{ review.text }}</textarea>
                    <p style="margin-top: 0; border-color: white" class="rating-input">
                        {{ review.rate }}
                        <img style="width: 20px; height: 20px" src="{% static 'img/index/star-icon.svg' %}">
                    </p>
                </label>
            </div>
        {% endfor %}
    </div>
</div>
</body>
</html>