{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'css/index_styles.css' %}">
</head>
<body bgcolor="gray">
{% include 'header.html' %}

<div class="game-list">
    {% for game in games %}
        <div class="game-card">
            <div class="game-rating">
                <a>{{ game.general_rate}}</a>
                <img src="{% static 'img/index/star-icon.svg' %}">
            </div>
            <div class="game-image"><img src="{{ game.path_to_img.url }}" alt="ГОЛАЯ ВИРДЖИНИЯ" href="Game/{{game.id}}"></div>
            <div class="game-name">
                <a>{{ game.name }}</a>
            </div>
        </div>
    {% endfor %}
</div>
ТУТ ЦИКЛЫ
</body>
</html>