{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/login_styles.css' %}"/>
    <title>Войти</title>
</head>
<body>
<div class="wrapper">
    <button onclick="location.href = '/'" class="button_back"></button>
    <h2>Вход в аккаунт</h2>
    <form method="post" action="">
        {% csrf_token %}
        {{ login_form.username }}
        {{ login_form.password }}
        <input class="login" type="submit" value="Войти">
    </form>
    {% for message in messages %}
        <div class="message {{ message.tags }}">
            {{ message }}
        </div>
    {% endfor %}
    <p>Нет аккаунта?<br/>
        <a href="/authorization">зарегистрироваться</a>
    </p>
</div>
</body>
</html>