{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Профиль {{ user.username }}</title>
    <link rel="stylesheet" href="{% static 'css/profile_styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/header_styles.css' %}">
</head>
<body>
{% include 'header.html' %}
<div class="wrapper">
    <div class="profile">
        {% if user.avatar %}
            <img class="profile-image" src="{{ user.avatar.url }}" alt="АЛЬТУШКА">
        {% endif %}
        <div class="profile-info">
            <div class="info-field">
                <span>Никнейм</span>
                <p>{{ user.username }}</p>
            </div>
            <div class="info-field">
                <span>Почта</span>
                <p>{{ user.email }}</p>
            </div>
            <div class="info-field">
                <span>Имя</span>
                <p>{{ user.first_name }}</p>
            </div>
            <div class="info-field">
                <span>Фамилия</span>
                <p>{{ user.last_name }}</p>
            </div>
        </div>
    </div>
    <h2 style="text-align: center; font-size: 72px; font-family: 'PT Sans', sans-serif;">Отзывы</h2>
    <div class="reviews">
        {% for review in reviews %}
            <div class="review">
                <div class="game" onclick="window.location='/game/{{review.game.id}}'">
                    {% if review.game.path_to_img %}
                        <img src="{{ review.game.path_to_img.url }}">
                    {% endif %}
                    <p>{{ review.game.name }}</p>
                </div>
                <label>
                    <textarea readonly class="text-input">{{ review.text }}</textarea>
                    <p style="margin-top: 0; border-color: white" class="rating-input">
                        {{ review.rate }}
                        <img style="width: 20px; height: 20px" src="{% static 'img/index/star-icon.svg' %}">
                    </p>
                </label>
            </div>
        {% endfor %}
    </div>
</div>
</body>
</html>