{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/rating_styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/header_styles.css' %}">
    <title>Title</title>
</head>
<body>
{% include 'header.html' %}
<div class="wrapper">
    <div class="first-place">
    <div class="game-card">
        <img src="{% static 'img/Crysis 3 Maximum Edition PRO.png' %}" alt="ТИММИИИ">
        <div class="game-info">
            <h2 class="gold-gradient">Dishonored: Death of the Outsider</h2>
            <p>Рейтинг критиков</p>
            <div class="rating">
                    <a>12.0</a>
                    <img src="{% static 'img/index/star-icon.svg' %}">
                </div>
            <p>Рейтинг пользователей</p>
            <div class="rating">
                    <a>12.0</a>
                    <img src="{% static 'img/index/star-icon.svg' %}">
                </div>
        </div>
    </div>
</div>
<div class="too-close">
    <div class="second-place">
        <div class="game-card">
            <img src="{% static 'img/Crysis 3 Maximum Edition PRO.png' %}" alt="ТИММИИИ">
            <div class="game-info">
                <h2 class="silver-gradient">Игра Нейм</h2>
                <p>Рейтинг критиков</p>
                <div class="rating">
                    <a>12.0</a>
                    <img src="{% static 'img/index/star-icon.svg' %}">
                </div>
                <p>Рейтинг пользователей</p>
                <div class="rating">
                    <a>12.0</a>
                    <img src="{% static 'img/index/star-icon.svg' %}">
                </div>
            </div>
        </div>
    </div>
    <div class="third-place">
        <div class="game-card">
            <img src="{% static 'img/Crysis 3 Maximum Edition PRO.png' %}" alt="ТИММИИИ">
            <div class="game-info">
                <h2 class="bronze-gradient">Игра Нейм</h2>
                <p>Рейтинг критиков</p>
                <div class="rating">
                    <a>12.0</a>
                    <img src="{% static 'img/index/star-icon.svg' %}">
                </div>
                <p>Рейтинг пользователей</p>
                <div class="rating">
                    <a>12.0</a>
                    <img src="{% static 'img/index/star-icon.svg' %}">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="loosers">
    <div class="more-place">
        <div class="game-card">
            <img src="{% static 'img/Crysis 3 Maximum Edition PRO.png' %}" alt="ТИММИИИ">
            <div class="game-info">
                <h2>Игра Нейм</h2>
                <p>Рейтинг критиков</p>
                <div class="rating">
                    <a>12.0</a>
                    <img src="{% static 'img/index/star-icon.svg' %}">
                </div>
                <p>Рейтинг пользователей</p>
                <div class="rating">
                    <a>12.0</a>
                    <img src="{% static 'img/index/star-icon.svg' %}">
                </div>
            </div>
        </div>
    </div>
    <div class="more-place">
        <div class="game-card">
            <img src="{% static 'img/Crysis 3 Maximum Edition PRO.png' %}" alt="ТИММИИИ">
            <div class="game-info">
                <h2>Игра Нейм</h2>
                <p>Рейтинг критиков</p>
                <div class="rating">
                    <a>12.0</a>
                    <img src="{% static 'img/index/star-icon.svg' %}">
                </div>
                <p>Рейтинг пользователей</p>
                <div class="rating">
                    <a>12.0</a>
                    <img src="{% static 'img/index/star-icon.svg' %}">
                </div>
            </div>
        </div>
    </div>
    <div class="more-place">
        <div class="game-card">
            <img src="{% static 'img/Crysis 3 Maximum Edition PRO.png' %}" alt="ТИММИИИ">
            <div class="game-info">
                <h2>Игра Нейм</h2>
                <p>Рейтинг критиков</p>
                <div class="rating">
                    <a>12.0</a>
                    <img src="{% static 'img/index/star-icon.svg' %}">
                </div>
                <p>Рейтинг пользователей</p>
                <div class="rating">
                    <a>12.0</a>
                    <img src="{% static 'img/index/star-icon.svg' %}">
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</body>
</html>